body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightgray;
}

.top-header {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 25px;
}

.navbar {
    background-color: #162447;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 12px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #fbc531;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

footer {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 10px;
}
.profile-section {
    text-align: center;
}


